<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="28" class="shadow">
    <app-logo fxLayoutAlign="center center"></app-logo>
    <div class="text-center">
      <h3>forget password</h3>
      <p>Use your kee Account Email</p>
    </div>
    <form>
      <mat-form-field appearance="outline" class="w100">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="Email" />
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <button
          [routerLink]="['/login']"
          color="primary"
          mat-button
          type="button"
        >
          Back to login
        </button>
        <button
          style="width: 120px"
          mat-raised-button
          type="submit"
          color="primary"
        >
          Request
        </button>
      </div>
    </form>
  </mat-card>
</div>
