#icons {
  padding-left: 5px;
}

button:focus {
  outline: 0;
}

button {
  outline: none; // this one
  align-items: center;
}

input:focus {
  outline: none;
}

p {
  text-align: center;
}

input {
  padding-left: 10px;
  border: none;
  box-shadow: none;
}

#btnAlram {
  padding-left: 20px;
}

// reducing size of button
.icon-button {
  transform: scale(0.8);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0.75em 0.75em 0 0.75em;
  background: wheat;
}
.color-btn {
  height: 35px;
  width: 35px;
  border-radius: 18px;
  border: 2px solid;
}
.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 30px;
  height: 29px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 70%;
}
.mat-icon-color {
  color: #080808;
}
.btn2 {
  margin-right: 40px;
  margin-top: 30px;
}
