button {
  margin-top: 15px;
  margin-left: 27px;
}

input {
  border: none;
  text-decoration: none;
  width: 100%;
  outline: none;
  min-height: 8px;
  background-color: transparent;
}

mat-card {
  min-width: 400px;
  max-width: 800px;
  max-width: 600px;
  margin: -24px;
  padding-top: 10px;
}
.icons {
  display: flex;
  flex-direction: column;
}
.file {
  img {
    max-height: 140px;
    padding: 12px;
    width: 200px;
  }
}
