<div>
  <h2>
    <span style="color: rgb(247, 64, 8); text-shadow: bisque">G</span>
    <span style="color: rgb(133, 18, 240)">o</span>
    <span style="color: rgb(102, 231, 124)">o</span>
    <span style="color: rgb(65, 121, 204)">g</span>
    <span style="color: rgb(217, 255, 0)">l</span>
    <span style="color: rgb(233, 170, 53)">e </span>
    <span></span>
    <span style="color: rgb(57, 224, 216)">K</span>
    <span style="color: rgb(185, 130, 28)">e</span>
    <span style="color: rgb(0, 4, 255)">e</span>
    <span style="color: rgb(8, 6, 1)">p</span>
  </h2>
</div>
