<app-create-note></app-create-note>
<div *ngIf="!isNotePresent" class="empty-notes text-center">
  <mat-icon>archive</mat-icon>
  <h1 class="text">Your archived notes appear here</h1>
</div>
<div class="notes-display">
  <div *ngIf="isNotePresent">
    <small style="padding-left: 207px">Archive</small>
    <div class="getAllNotes">
      <div *ngFor="let note of notes | async">
        <div *ngIf="note.archive != false">
          <app-note [note]="note"></app-note>
        </div>
      </div>
    </div>
  </div>
</div>
